*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:rgb(34, 34,34);
    color: white;
    font-family: poppinsregular;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#title{
    text-align: center;
}

li{
    display: inline;
}

h1{
    font-weight: 200;
    line-height:normal;
}

h2{
  font-size: 50px;
  line-height: 50px;
  font-family: poppinsmedium;
  padding: 15px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

a{
  color: white;
  padding: 15px;
  text-decoration: none;
}

a:hover{
  color: #00ffff;
  transition: 0.3s all;
}

span{
  color: aqua;
  line-height:normal;
}
p{
  padding: 15px;
  line-height: 20px;
  max-width: 500px;
  font-family: poppinslight;

}

img{
  width: 500px;
}

#inscreva-se-btn{
  border: 2px solid aqua;
  border-radius: 20px;
  padding: 15px;
}

#inscreva-se-btn:hover{
  background-color: aqua;
  color: black;
}

form{
  display: flex;
  flex-direction: column;
  width: 70%;
}

input{
  margin-top: 20px;
  height: 40px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}

form [type="submit"]{
  height: 50px;
  width: 50%;
  background-color: aqua;
  color: black;
  font-weight: bold;
}

form [type="submit"]:hover{
  cursor: pointer;
}

  /* MEDIA RESPONSIBLE */
  @media screen and (max-width: 913px){
    ul{
      display: contents;
    }
  }



  @media screen and (max-width: 760px){
    header{
      flex-direction: column;

    }
    main{
      flex-direction: column;
    }
    h2{
      font-size: 38px;
    }

    form{
      margin: auto;
      width: 80%;
    }

    img{
      margin-top: 100px;
      width: 100%;
    }

    #send-btn{
      align-self: center;
      width: 100%;
    }

    h2 span{
      line-height:normal;
      
    }

    ul{
      display: contents;
    }
  }








/*fonteeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/



@font-face {
    font-family: 'poppinsblack';
    src: url('./components/fonts/poppins-black-webfont.woff2') format('woff2'),
         url('./components/fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'poppinsbold';
    src: url('./components/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('./components/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'poppinslight';
    src: url('./components/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('./components/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'poppinsmedium';
    src: url('./components/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('./components/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinsregular';
    src: url('./components/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('./components/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinssemibold';
    src: url('./components/fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('./components/fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }


