body {
  background-color: black;
  margin: 20%;
  font-family: 'Lexend Deca', sans-serif;
  color: #2E475D;
}
h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
}

a {
  color: pink;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  img.gallery{
    display: block;
  }
}
@media only screen and (min-device-width: 1224px){
  img.gallery{
    float: left;
  }
}

.btn{
  text-transform: uppercase;
  background-color: blue;
  border-radius: 10%;
  color: white;
}
table{
  color: white;
  background-color: white;
  align-content: center;
  border-color: grey;
}

#tableCenter{
  margin: auto;
  background-color: transparent;
}
