body {
  background-color: #212529;
  font-family: 'Lexend Deca', sans-serif;
  color: #2E475D;
  margin: 0%;
}
h1 {
  color: white;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  color: white;
}

a {
  color: pink;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  img.gallery{
    display: block;
  }
}
@media only screen and (min-device-width: 1224px){
  img.gallery{
    float: left;
  }
}

.btn{
  text-transform: uppercase;
  background-color: #343A40;
  border-radius: 12px;
  color: #F8F9FA;
  border-color: #6C757D;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table{
  color: white;
  background-color: white;
  align-content: center;
  border-color: grey;
}

#tableCenter{
  margin: auto;
  background-color: transparent;
}

.textContent{
  text-align:center;
  display: none;
}

pre {
  position: center;
  text-align:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  color: #F8F9FA;
  margin-left:auto;
}

#lgText{
  size: 1% ;
  text-align: center;
  font-size: xx-small;
}
#lg{
  display: block;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
}