/* Global        ------------*/
:root{
  --buttons: #49AA26;
  --buttons-hover: #3dd705;
  --light-green: #3dd705;
  --red-new: #e92929; 
  --background: rgba(38, 170, 67, 0.685);
  --main-text: rgb(8, 8, 8);
  --second-background: rgb(218, 255, 221);
  --color-layer: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html{
  font-size: 93.75%; 
}

body{
  background: var(--second-background);
  font-family: 'Poppins',Sans-Serif;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  border: solid 1px red;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rec(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

.container{
  width: min(90vw, 800px);
  margin: auto;
}
/* Titles        ------------*/
h2{
  margin-top: 3.2rem;  
  margin-bottom: 0.8rem;
  color: var(--main-text);
  font-weight: normal;
}

/* Links and Buttons        ------------*/
a{
  color: var(--buttons);
  text-decoration: none;
}

a:hover {
  color: var(--buttons-hover);
}

button{
  width: 100%;
  height: 50px;
  border:none;
  color: white;
  background: var(--buttons);
  padding: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover{
  background: var(--buttons-hover);
}

.button.new{
  display: inline block;
  margin-bottom: .8rem;
}

.button.cancel{
  color: var(--red-new);
  border: 2px var(--red-new) solid;
  border-radius: 0.25rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.button.cancel:hover{
  opacity: 1;
}

.small.icon{
  width: 20px;
}

/* Header        ------------*/

#lang-dash{
  margin-right: 5%;

}

.lang.flag{
  display: inline-flex;
  display: none;  
}
.lang.flag button{
  height: max-content;
}
.lang.flag.pt.active{
  left: 0;
  display: block;
}
.lang.flag.en.active{
  left: 0;
  display: block ;
}


header{
  background: var(--background);
  padding: 2rem 0 12rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

#theme-button{
  width: 40px;
  background-color: var(--buttons);
  height: 40px;
  border-radius: 0rem 1rem 1rem 0rem;
}

#theme-button:hover{
  background-color: var(--buttons-hover);
  cursor: pointer;
}

.theme.dash{
  position: absolute;
  background-color: var(--second-background);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  left: 0;
  right: 0;
  align-items: center;
  width: 100px;
  height: 300px;
  visibility: hidden;
  border-radius: 0rem 1rem 1rem 0rem;
  z-index: 2;
}

.theme.dash p{
  color: var(--main-text);
}

.theme.dash.button{
  left: 90px;
  height: 40px;
  width: 50px;
  align-items: left;
  background-color: var(--buttons);
  visibility: hidden;
  z-index: 1;
}
.theme.dash.button:hover{
  background-color: var(--buttons-hover);
  cursor: pointer;
}  
.theme.dash.active{
  visibility: visible;
}
.theme.dash.button.active{
  visibility: visible;
}

.theme-dash.item{
  background-color: #e92929;
  border: black;
  border-radius: 20px;
  width: 20px;
  height: 20px;
}

.theme-dash.item:hover{
  cursor: pointer;
}

.theme-dash.item.dark{
  background-color: black;
}
.theme-dash.item.white{
  background-color: white;
}
.theme-dash.item.green{
  background-color: green;
}

.dark{
  --background: rgb(59, 59, 59);
  --main-text: white;
  --second-background: rgb(0, 0, 0);
  --color-layer: rgb(32, 32, 49);
  --buttons-hover: rgb(119, 117, 117);
  --buttons: rgb(163, 163, 163);
}

.white{
  --background: rgb(212, 212, 212);
  --main-text: rgb(20, 18, 18);
  --second-background: rgb(233, 233, 233);
  --color-layer: rgb(255, 255, 255);
  --buttons-hover: rgb(230, 230, 230);
  --buttons: rgb(119, 119, 119);
}

.green{
  --background: rgba(38, 170, 67, 0.685);
  --main-text: rgb(8, 8, 8);
  --second-background: rgb(218, 255, 221);
  --color-layer: rgb(255, 255, 255);
  --buttons: #49AA26;
  --buttons-hover: #3dd705;
}

/* Balance        ------------*/
#balance {
  margin-top: -8rem;
}
#balance h2{
  color: white;
  margin-top:0;
}

/* Cards        ------------*/
.card{
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.card h3{
  font-weight: normal;  
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p{
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total{
  background: var(--buttons);
  color: white;
}

/* Transactions        ------------*/
#transaction{
  width: 100%;
  overflow-x: auto;
  display: block;
  
}
#transaction div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* Table        ------------*/


#data-table{
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--main-text);
}

table thead tr th:first-child,
table tbody tr td:first-child{
  border-radius: 0.25rem 0 0 0.25rem;
}
table thead tr th:last-child,
table tbody tr td:last-child{
  border-radius: 0 0.25rem 0.25rem 0;
}

table thead th{
  background: var(--color-layer);
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

table tbody tr{
  opacity: 0.7;
}
table tbody tr:hover{
  opacity: 1;
}

table td{
  background: var(--color-layer);
  padding: 1rem 2rem;
}

td.description{
  color: var(--main-text);
}
td.income{
  color: var(--light-green);
}
td.expense{
  color: #e92929;
}
/* Modal        ------------*/
.modal-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

.modal{
  background: var(--second-background);
  padding: 2.4rem;
  position: relative;
  max-width:90%;
  z-index: 1;
}

/* Form        ------------*/
#form{
  max-width:500px;
  
}

#form h2 {
  margin-top: 0;
}

input {
  border: none;
  border-radius: 0.3rem;
  padding: 0.8rem;
  width: 100;
}

.input-group{
  margin-top: 0.8rem;
}

.input-group .help{
  opacity: 0.4;
  color:var(--main-text);
}
.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button{
  width: 48%;
}

/* Footer        ------------*/
footer{
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--main-text);
  opacity: 0.6;  
}


/* Responsive        ------------*/
@media(min-width: 800px) {
  html{
    font-size: 87.5%;
  }
  #balance{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
  }
  
}