
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


section h1{
    text-align: center;
    font-size: 100px;
}

section {
    height: fit-content;
    margin-bottom: 9rem;
}

.carousel {
    margin-top: 0%;
    background-color: #e4e4e4;
}

.carousel div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 2rem;
}

.carousel-list.container.content-panel{
    margin: 0.6rem 10% 0rem 10% ;
    height: max-content;
    display: -webkit-box;
    justify-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.carousel-list.container.content-panel::-webkit-scrollbar{
    display: none;
}

.carousel-list.container.content-panel div{
    background-color: #cacaca;
    width: 100%;
    height: 100%;
    margin: 0% 20px 0% 0%;
    position: relative;
}

.carousel-list.container.content-panel div:last-child{
    margin: 0% 0% 0% 0%;
}

.carousel-list.container.content-panel div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.carousel-list.container.content-panel span{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
	background-position: 0 100%;
	background-repeat: no-repeat;
    background-size: 0 2px;
	transition: background-size 0.3s;
    font-weight: bolder;
    font-size: 100px;
}/* background-size: 100% 2px; */

.carousel-list.container.content-panel span:hover{
    background-size: 100% 2px;
}

.carousel-list.container{
    background-color: rgba(255, 255, 255, 0.378);
    padding: 0;
    margin: 0;
    position: relative;
}

.carousel-list.container.panel-direction-right{
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    height: 100%;
    opacity: 10%;
    margin: 0;
    cursor: url(./assets/pack-ionicons/arrow-forward-circle-outline.svg) , auto;
    text-align: right;
}

.carousel-list.container.panel-direction-right span{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.carousel-list.container.panel-direction-right img{
    vertical-align: middle;
}


.carousel-list.container.panel-direction-left{
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    margin: 0;
    height: 100%;
    opacity: 10%;
    cursor: url(./assets/pack-ionicons/arrow-back-circle-outline.svg), auto;
}

.carousel-list.container.panel-direction-left span{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.carousel-list.container.panel-direction-left img{
    vertical-align: middle;
}

@media screen and (max-width: 1000px) {
    #mainLogo{
      width: 560px;
      margin-left: 0px;
    }
    #socialBar{
      margin-top: 10px;
    }
  }
  
  
  @media screen and (max-width: 800px) {
    .carousel-list.container.panel-direction-left{
          display: none;
      }
    .carousel-list.container.panel-direction-right{
          display: none;
      }
  }
  
  @media screen and (max-width: 480px){
    .carousel-list.container.content-panel{
        margin: 0.6rem 0% 0rem 0% ;
     }
  }